!!!
%html
	%head
		= metamagic site: "EVE Trader", title: [:site, :title], separator: " — ", keywords: [:keywords, "eve-online", "blueprint", "profit", "calculator", "profitability"], description: "EVE Trader is an online blueprint profit calculator for the game Eve Online. It allows you to calculcate the profit on each blueprint available in game in real time. Prices are fetched from eve-central."
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		
		= csrf_meta_tags

=render "layouts/menu"
= yield

=render "layouts/footer"

= javascript_include_tag 'application', 'data-turbolinks-track' => true