!!!
%html
	%head
		= metamagic site: "EVE Trader", title: [:site, :title], separator: " — ", keywords: [:keywords, "eve-online", "blueprint", "profit", "calculator", "profitability"]
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags

=render "layouts/menu"
= yield

=render "layouts/footer"